{% extends "base.html" %}

{% block title %}About{% endblock %}
{% block aboutMenu %}id="current"{% endblock %}

{% block content %}
	<h1>About rdict</h1>
	<div>
	<b>Learning a second language involves both learning and remembering new vocabulary.</b>  Whether we are reading, talking with a native speaker or watching a television program in the language we are studying, we often come across words that are unfamiliar.  Fortunately, web-based services and portable electronic dictionaries exist which allow us to conveniently look up unknown words.
	</div>
<br>
<div>
<b>The problem is that the words we look up are often forgotten.</b> How often has it happened that you have learned new words while reading or talking with a friend, only to forget them the next week or even the next day?  Wouldn't it be nice if there was a tool that could help you to maintain your English vocabulary?
</div>
<br>
<div>
<b>RDict aims to help with these problems.</b>  
</div>
<br>
<div>
<b>RDict provides a simple and convenient dictionary interface for looking up definitions on your computer, your iPhone or your iPod Touch.</b>  Our data comes from the <a target="_blank" href="http://en.wiktionary.org/wiki/Wiktionary:Main_Page" >Wiktionary</a> project, whose database contains over 230,000 English words.  In addition, because Wiktionary data is user-contributed, it often contains many contemporary or colloquial words and expressions not found in traditional dictionaries.  Try searching for 'hella', 'mack' or 'wig out'.  Other sites don't have them.  Wiktionary does.
</div>
<br>
<div>
<b>RDict also helps you to remember the words you look up.</b>  Using a learning technique developed by cognitive psychology researchers called '<a target="_blank" href="http://en.wikipedia.org/wiki/Spaced_repetition">spaced repetition</a>', RDict schedules vocabulary practice sessions to help you remember the words you have learned.  In the practice sessions, you view flashcards and attempt to recall the definitions of each word that is presented.  After viewing the answer, you tell RDict how easy or difficult it was to remember the word using a simple button interface.  The application then uses this information to schedule words for future practice sessions.  Difficult words are scheduled for the next practice session; easier words are reserved for later practice.  In this way, RDict helps you maintain your vocabulary.  And because RDict is available as a stand-alone app for the <b>iPhone</b> and <b>iPod Touch</b>, practicing with RDict doesn't require an internet connection.
</div>
<br>
<div>
RDict is a reference dictionary designed to help you look up <b>and remember</b> the words you learn.  We hope that you find it remarkably useful!
</div>
<br>
<div>
Jaewoo and Steve
</div>

{% endblock %}
