<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="robots" content="all" />
  <title>
    RDict - {% block title %}{% endblock %}
  </title>
  <link rel="stylesheet" type="text/css" media="print" href="/media/print.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/media/styles.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/media/css/styles/grey.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/media/css/width/width_default.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/media/css/sidebar/sidebar_right.css" />
  <script type="text/javascript" src="/media/js/jquery-1.3.2.min.js"></script>
  <script type="text/javascript">
    var rpxJsHost = (("https:" == document.location.protocol) ? "https://" : "http://static.");
    document.write(unescape("%3Cscript src='" + rpxJsHost +
                            "rpxnow.com/js/lib/rpx.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    RPXNOW.overlay = true;
    RPXNOW.language_preference = 'en';
  </script>
  {% block head %}{% endblock %}
</head>
<body>
  <div id="container">
    <!-- Start container -->
    <div id="pageHeader">
      <!-- Start page header -->
      <h1>
        <a href="/" style="text-decoration:none">RDict</a>
      </h1>
      <h2>
        remind, remember, remarkable dictionary
      </h2>
    </div><!-- End page header -->
    <div id="sidebarContainer">
      <!-- Start Sidebar wrapper -->
      <div id="navcontainer">
        <!-- Start Navigation -->
        <ul>
          <li>
            <a href="/" {% block homeMenu %}{%endblock %}>Home</a>
          </li>
          <li>
            <a href="/review/"  {% block reviewMenu %}{%endblock %}>Review
            {% if request.scheduled_card_count %} ({{ request.scheduled_card_count }}) {% endif %}
            </a>
          </li>
          <li>
            <a href="/about/"  {% block aboutMenu %}{%endblock %}>About</a>
          </li>
          <li>
            <a href="/help/"  {% block helpMenu %}{%endblock %}>Help</a>
          </li>
          <li>
            {% if request.login_user %}
            <a href="/openid/logout?forward=/">Sign out</a>
            {% else %}
            <a class="rpxnow" onclick="return false;"
              href="https://rdict.rpxnow.com/openid/v2/signin?token_url=http%3A%2F%2Flocalhost%3A8000%2Fuser%2Frpx"> Sign In </a>
            {% endif %}
          </li>
        </ul>
      </div><!-- End navigation -->
      <div class="sideHeader"></div><!-- Sidebar header -->
      <div id="sidebar">
        <!-- Start sidebar content -->
        <!-- sidebar content you enter in the page inspector -->
        <!-- sidebar content such as the blog archive links -->
      </div><!-- End sidebar content -->
    </div><!-- End sidebar wrapper -->
    <div id="contentContainer"><!-- Start main content wrapper -->
      <div id="content">
        {% block content %}{% endblock %}
      </div><!-- End content -->
    </div><!-- End main content wrapper -->
    <div class="clearer"></div>
    <div id="footer"><!-- Start Footer -->
      <div id="breadcrumbcontainer">
        <!-- Start the breadcrumb wrapper -->
      </div><!-- End breadcrumb -->
      <p>© 2009 <a href="http://www.ampliostudios.com/">amplio studios</a></p>
    </div><!-- End Footer -->
  </div><!-- End container -->
</body>
</html>
