<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.amplio.vkbl8r" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="1"></uses-sdk>

	<application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="false">
		<activity android:label="@string/app_name" android:name="RDictActivity" android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:label="Splash" android:name="SplashActivity" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:label="Setup" android:name=".setup.SetupActivity" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:label="Search" android:name=".search.SearchActivity" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:label="Dictionary" android:name=".search.DictionaryActivity" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:label="Review" android:name=".review.ReviewActivity" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:label="FlashCards" android:name=".review.FlashCardActivity" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:label="History" android:name=".history.HistoryActivity" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:label="More" android:name=".more.MoreActivity" android:theme="@android:style/Theme.NoTitleBar"></activity>

		<activity android:name=".more.AboutActivity" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:name=".more.HelpActivity" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:name=".more.ManageActivity" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:name=".more.SettingsActivity" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:name=".more.EditCardActivity" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:name=".more.AddCardActivity" android:theme="@android:style/Theme.NoTitleBar"></activity>
	
		<service android:name=".setup.DownloadService"></service>
		<service android:name="LoadDictionaryService"></service>
</application>


	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
</manifest> 